<div class="boletoCard" style="width: 20%;">
    <img width="200px" src="https://img.freepik.com/vector-gratis/composicion-boletos-realista-cupones-papel-neon-texto-editable-codigo-barras-impreso_1284-58860.jpg?t=st=1740725813~exp=1740729413~hmac=24d6203fa174b1601896b42776bde4a3e546ec6545d157768800958c2fa54393&w=900" alt="">
    <h1>{{nombre}}</h1>
    <p> localidad: {{localidad}}</p>
    <p>Precio: {{precio}}</p>
    <button style="padding: 1rem; background-color: #656aff; border: none; border-radius: .2rem; width: 50%; color: whitesmoke; cursor: pointer;" >Comprar</button>
</div>