<div class="noticia-card">
    <div style="display: flex; justify-content: center;">
        <img width=50% height="200px" src="https://img.freepik.com/psd-gratis/plantilla-psd-redes-sociales-festividades-carnaval-brasil-fondo-colorido-carnaval-brasil_314999-2885.jpg?t=st=1740716544~exp=1740720144~hmac=87009a1dc805b0620ea81d1f9a6556d918749c0c503498ec8c06f9ee564a453d&w=900" alt="">
    </div>
    <div>
        <h1>Noticia</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt temporibus dicta corrupti ipsa officiis ut ducimus, quidem ullam excepturi tempore id blanditiis cumque commodi enim nihil sed impedit suscipit iure.</p>
    </div>
</div>