<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <title>Document</title>
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% include 'base/header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'base/footer.html' %}
</body>
{% block scripts %}
{% endblock %}
</html>