<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="menu">
            <div class="menu_logo">
                <a href=""><img height="150px" src="https://static.wikia.nocookie.net/logopedia/images/7/78/The_Battle_Cats.png/revision/latest?cb=20230722040312" alt=""></a>
            </div>
        </div>
        <div class="menu_options">

                <a href="">Home</a>

                <a href="">Boletos</a>

                <a href="">Eventos</a>

        </div>
    </nav>
</body>
</html>