{%extends 'base/base.html'%}
{%load static%}
{%block content%}
<div style="display: flex; justify-content: center;">
    <h2 style="margin: 0 auto;">Agregar evento</h2>
</div>
<div>
    <form style="display: flex; flex-direction: column; padding: 0 2rem; gap: 1rem;" id="crearEventoForm" action="POST">
        <input type="hidden" id="csrftoken" value="{{csrf_token}}">
        <input type="text" name="name" id="nombreEvento" placeholder="Nombre del evento aqui" required>
        <div style="display: flex; flex-direction: column;">
            <label for="fechaInicio">Fecha Inicio</label>
            <input type="datetime-local" name="fechaInicio" id="fechaInicio" 
            min="{{hoy.year}}-{{hoy.month}}-{{hoy.day}}T{{hoy.hour}}:{{hoy.minute}}:{{hoy.second}}" required>
        </div>
        <div style="display: flex; flex-direction: column;">
            <label for="fechaFin">Fecha Final</label>
            <input type="datetime-local" name="fechafin" id="fechaFin" 
            min="{{mañana.year}}-{{mañana.month}}-{{mañana.day}}T{{mañana.hour}}:{{mañana.minute}}:{{mañana.second}}" required>
        </div>
        <select id="listaLocalidades" type="text" list="listaLocalidades" name="localidad_id" required placeholder="Escriba su localidad"></select>
        <div style="display: flex; justify-content: center;">
            <button style="padding: 1rem 2rem; background-color: rgb(40, 40, 40); border-radius: 1rem; color: white;" type="submit" id="crearEventoButton">Crear</button>
        </div>
    </form>
</div>
<div>
    <h2>Elementos agregados recientemente</h2>
    <div>
        <div class="addres-container">
            <div class="grid-header">Nombre</div>
            <div class="grid-header">Fecha Inicio</div>
            <div class="grid-header">Fecha Fin</div>
            <div class="grid-header">Localidad</div>
            <div class="grid-header">Acciones</div>
            {% for item in evento %}
            <div class="addres-item">{{item.name}}</div>
            <div class="addres-item">{{item.fechaInicio}}</div>
            <div class="addres-item">{{item.fechafin}}</div>
            <div class="addres-item">{{item.localidad_id.name}}</div>
            <div class="addres-item"><button id="EliminarButton" eventID ="{{item.id}}">Eliminar</button></div>
            {% endfor %}
        </div>
    
    </div>
</div>
{%endblock%}
{%block scripts%}
    <script src="{% static 'js/agregarEvento.js' %}"></script>
    <script src="{% static 'js/llenarLocalidades.js' %}"></script>
    <script src="{% static 'js/eliminarEventos.js' %}"></script>
{%endblock%}