{% extends "base/base.html" %}
{% load static %}
{%block styles%}
<link rel="stylesheet" href="{static 'css/detail.css'}">
{%endblock%}
    {% block content %}
        <form method="POST" action="{% url 'updateUser' user.id %}" id="create-user-form"  class="create-user-form">
            {% csrf_token%}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{user.name}}" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{user.email}}" required><br>

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="{{user.age}}" required><br>

            <label for="rfc">RFC:</label>
            <input type="text" id="rfc" name="rfc" value="{{user.rfc}}" required><br>

            <label for="photo">Photo URL:</label>
            <input type="text" id="photo" name="photo" value="{{user.photo}}" required><br>

            <button id="create-user-button">Update User</button>
        </form>
        {% if addresses %}
        <table border="1">
            <tr>
                <th>Calle</th>
                <th>Código Postal</th>
                <th>Ciudad</th>
                <th>País</th>
            </tr>
            {% for address in addresses %}
                <tr>
                    <td>{{ address.street }}</td>
                    <td>{{ address.zip_code }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.country }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Este usuario no tiene direcciones registradas.</p>
        {% endif %}
    {% endblock %}
{%block scripts%}
<script src="{% static 'js/detail.js' %}"></script>
{%endblock%}
