{%extends "base/base.html"%}
    {%load static%}
    {%block style%}
    <link rel="stylesheet" href="{%static 'css/users.css'%}">
    {%endblock%}
    {%block content%}
    <h1>{{title}}</h1>
    <div class="container">
        {% for i in users %}
            <!-- <div class="card">
                <img src="{{i.photo}}" alt="">
                <h1>{{i.name}}</h1>
                <div class="campos">
                    <h5>ID:{{i.id}}</h5>
                    <h5>Edad:{{i.age}}</h5>
                </div>
            </div> -->
            {% include 'components/userCard.html' with name=i.name email=i.email photo=i.photo id=i.id %}
        {% endfor %}
    </div>
    {%endblock%}
    {% block scripts %}
    <script src="{static 'js/index.js'}"></script>
    {%endblock%}